In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
#import plotly.graph_objects as go
import copy
import math

In [3]:
df = pd.read_csv("G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\Adjusted_Closed_Price_For_all_Dec_24.csv",)

In [5]:
import copy
data_df = copy.deepcopy(df)
df = data_df

In [6]:
df.dtypes

Symbol          object
Date            object
Close Price    float64
year             int64
month            int64
dtype: object

In [7]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce',exact=True,format='%Y-%m-%d')

In [8]:
# leat's crate one feature year
df["yr"] =  pd.DatetimeIndex(df['Date']).year

In [9]:
df.dtypes

Symbol                 object
Date           datetime64[ns]
Close Price           float64
year                    int64
month                   int64
yr                      int64
dtype: object

In [10]:
df.head()

       Symbol       Date  Close Price  year  month    yr
0  ADANIPORTS 2007-11-27       962.90  2007     11  2007
1  ADANIPORTS 2007-11-28       893.90  2007     11  2007
2  ADANIPORTS 2007-11-29       884.20  2007     11  2007
3  ADANIPORTS 2007-11-30       921.55  2007     11  2007
4  ADANIPORTS 2007-12-03       969.30  2007     12  2007

# calculate return
     df['Return']= abs(df['Adj_Close_Price']/df['Adj_Close_Price'].shift()-1)
     df['Return1']= df['Adj_Close_Price']/df['Adj_Close_Price'].shift()-1

In [11]:
df.head()

       Symbol       Date  Close Price  year  month    yr
0  ADANIPORTS 2007-11-27       962.90  2007     11  2007
1  ADANIPORTS 2007-11-28       893.90  2007     11  2007
2  ADANIPORTS 2007-11-29       884.20  2007     11  2007
3  ADANIPORTS 2007-11-30       921.55  2007     11  2007
4  ADANIPORTS 2007-12-03       969.30  2007     12  2007

In [12]:
df.rename(columns={'Close Price':"Adj_Close_Price"},inplace=True)

In [13]:
data_df = pd.DataFrame()
for com in list(df.Symbol.unique()):
    df1=df.loc[df.Symbol.isin([com])]
    df1.loc[:,'Return']= abs(df1.loc[:,'Adj_Close_Price'].pct_change())
    df1.loc[:,'Return1']= df1.loc[:,'Adj_Close_Price'].pct_change()
    df1.dropna(axis=0,inplace=True)
    data_df = data_df.append(df1)

C:\python\Anaconda3\envs\intelPython\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\python\Anaconda3\envs\intelPython\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\python\Anaconda3\envs\intelPython\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
data_df.head()

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1
1,ADANIPORTS,2007-11-28,893.90,2007,11,2007,0.071659,-0.071659
2,ADANIPORTS,2007-11-29,884.20,2007,11,2007,0.010851,-0.010851
3,ADANIPORTS,2007-11-30,921.55,2007,11,2007,0.042242,0.042242
4,ADANIPORTS,2007-12-03,969.30,2007,12,2007,0.051815,0.051815
5,ADANIPORTS,2007-12-04,1041.45,2007,12,2007,0.074435,0.074435

In [15]:
# lets check duplicate in the data
print("Toatl duplicate data in the data set:",data_df.duplicated(subset=None, keep='first').sum())
duplicateRowsDF = data_df[data_df.duplicated(subset=None, keep='first')]
print("Name of duplicate row:\n",duplicateRowsDF)
# drop duplicate row
data_df.drop_duplicates(keep='first',inplace=True)
print('Data Shape before drop na values :', data_df.shape)
data_df.dropna(axis=0,inplace=True)
print('Data shape after drop na values',data_df.shape)

Toatl duplicate data in the data set: 0
Name of duplicate row:
 Empty DataFrame
Columns: [Symbol, Date, Adj_Close_Price, year, month, yr, Return, Return1]
Index: []
Data Shape before drop na values : (150429, 8)
Data shape after drop na values (150429, 8)

In [16]:
# copy the data
np.random.seed(5)
data = copy.copy(data_df)

In [17]:
data.head()

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1
1,ADANIPORTS,2007-11-28,893.90,2007,11,2007,0.071659,-0.071659
2,ADANIPORTS,2007-11-29,884.20,2007,11,2007,0.010851,-0.010851
3,ADANIPORTS,2007-11-30,921.55,2007,11,2007,0.042242,0.042242
4,ADANIPORTS,2007-12-03,969.30,2007,12,2007,0.051815,0.051815
5,ADANIPORTS,2007-12-04,1041.45,2007,12,2007,0.074435,0.074435

In [18]:
data.shape

(150429, 8)

# Drop 1st row of the each company

    def mask_first(x):
        result = np.ones_like(x)
        result[0] = 0
        return result

    mask = data.groupby('Symbol')['Symbol'].transform(mask_first).astype(bool)
    data=data.loc[mask]
    print('After drop data shape', data.shape)

data.head()

# Create Data Dict 
     Data Dictionary of the each comapny

In [19]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
Company_name=list(data.Symbol.unique())
import xlsxwriter

In [20]:
data_disc = []
data_name = []
for row in Company_name:
    data_as = data[data['Symbol']==row]
    print('='*50+'Data information of ' + str(row)+'='*50)
    print(data_as.info(),'\n')
    print('='*50+"Data discription of "+ str(row)+'='*50 )
    print(str(row)+ ':\n' ,data_as.drop('yr',axis=1).describe())
    data_disc.append(data_as.drop('yr',axis=1).describe()) 
    data_name.append(row)

==================================================Data information of ADANIPORTS==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2824 entries, 1 to 2824
Data columns (total 8 columns):
Symbol             2824 non-null object
Date               2824 non-null datetime64[ns]
Adj_Close_Price    2824 non-null float64
year               2824 non-null int64
month              2824 non-null int64
yr                 2824 non-null int64
Return             2824 non-null float64
Return1            2824 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 198.6+ KB
None

==================================================Data discription of ADANIPORTS==================================================
ADANIPORTS:
        Adj_Close_Price         year        month       Return      Return1
count      2824.000000  2824.000000  2824.000000  2824.000000  2824.000000
mean       1092.627780  2013.123229     6.428470     0.018945     0.000619
std         529.458367     3.300464     3.487417     0.018983     0.026814
min         259.450000  2007.000000     1.000000     0.000000    -0.170471
25%         674.000000  2010.000000     3.000000     0.005893    -0.013932
50%         813.375000  2013.000000     6.000000     0.013968    -0.000198
75%        1580.875000  2016.000000     9.000000     0.025935     0.014046
max        2289.250000  2019.000000    12.000000     0.200022     0.200022
==================================================Data information of ASIANPAINT==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 2826 to 7887
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of ASIANPAINT==================================================
ASIANPAINT:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       8761.093923  2008.628803     6.450415     0.011688     0.001099
std       10431.406527     5.871130     3.450988     0.012119     0.016802
min         197.800000  1999.000000     1.000000     0.000000    -0.118668
25%         779.970000  2004.000000     3.000000     0.003475    -0.007412
50%        3039.780000  2009.000000     6.000000     0.008180     0.000145
75%       12930.300000  2014.000000     9.000000     0.015920     0.009238
max       38019.600000  2019.000000    12.000000     0.118668     0.107546
==================================================Data information of AXISBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 7889 to 12950
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of AXISBANK==================================================
AXISBANK:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       1101.069291  2008.628803     6.450415     0.019122     0.001461
std        1069.208081     5.871130     3.450988     0.020232     0.027801
min          12.000000  1999.000000     1.000000     0.000000    -0.187523
25%         125.100000  2004.000000     3.000000     0.005657    -0.012474
50%         886.475000  2009.000000     6.000000     0.012927     0.000000
75%        1583.475000  2014.000000     9.000000     0.025852     0.013621
max        4091.500000  2019.000000    12.000000     0.251337     0.251337
==================================================Data information of BAJFINANCE==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 12952 to 17945
Data columns (total 8 columns):
Symbol             4994 non-null object
Date               4994 non-null datetime64[ns]
Adj_Close_Price    4994 non-null float64
year               4994 non-null int64
month              4994 non-null int64
yr                 4994 non-null int64
Return             4994 non-null float64
Return1            4994 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 351.1+ KB
None

==================================================Data discription of BAJFINANCE==================================================
BAJFINANCE:
        Adj_Close_Price         year        month       Return      Return1
count      4994.000000  4994.000000  4994.000000  4994.000000  4994.000000
mean       3935.942036  2008.741690     6.422107     0.017357     0.001726
std        7822.390394     5.840095     3.459711     0.019062     0.025723
min          26.900000  1999.000000     1.000000     0.000000    -0.149884
25%          96.100000  2004.000000     3.000000     0.005020    -0.010770
50%         459.975000  2009.000000     6.000000     0.011634     0.000151
75%        2180.268470  2014.000000     9.000000     0.022853     0.012700
max       37376.061377  2019.000000    12.000000     0.176208     0.176208
==================================================Data information of BHARTIARTL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4276 entries, 17947 to 22222
Data columns (total 8 columns):
Symbol             4276 non-null object
Date               4276 non-null datetime64[ns]
Adj_Close_Price    4276 non-null float64
year               4276 non-null int64
month              4276 non-null int64
yr                 4276 non-null int64
Return             4276 non-null float64
Return1            4276 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 300.7+ KB
None

==================================================Data discription of BHARTIARTL==================================================
BHARTIARTL:
        Adj_Close_Price         year        month       Return      Return1
count      4276.000000  4276.000000  4276.000000  4276.000000  4276.000000
mean        575.865635  2010.199719     6.479654     0.017102     0.000962
std         273.052391     4.976187     3.438184     0.016726     0.023903
min          20.750000  2002.000000     1.000000     0.000000    -0.126738
25%         386.537500  2006.000000     3.000000     0.005574    -0.011949
50%         663.575000  2010.000000     6.000000     0.012451    -0.000237
75%         764.125000  2014.250000     9.000000     0.023259     0.013007
max        1125.650000  2019.000000    12.000000     0.254235     0.254235
==================================================Data information of BRITANNIA==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5061 entries, 22224 to 27284
Data columns (total 8 columns):
Symbol             5061 non-null object
Date               5061 non-null datetime64[ns]
Adj_Close_Price    5061 non-null float64
year               5061 non-null int64
month              5061 non-null int64
yr                 5061 non-null int64
Return             5061 non-null float64
Return1            5061 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of BRITANNIA==================================================
BRITANNIA:
        Adj_Close_Price         year        month       Return      Return1
count      5061.000000  5061.000000  5061.000000  5061.000000  5061.000000
mean       8464.697160  2008.628730     6.450701     0.011695     0.000926
std       12502.907645     5.871708     3.451269     0.012424     0.017038
min         704.025000  1999.000000     1.000000     0.000000    -0.082338
25%        1205.325000  2004.000000     3.000000     0.003379    -0.007766
50%        2543.925000  2009.000000     6.000000     0.008166    -0.000055
75%        7098.375000  2014.000000     9.000000     0.015701     0.008634
max       52881.375000  2019.000000    12.000000     0.146061     0.146061
==================================================Data information of CIPLA==================================================

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 27286 to 32347
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of CIPLA==================================================
CIPLA:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean      11485.072723  2008.628803     6.450415     0.014152     0.000852
std        7792.123602     5.871130     3.450988     0.014896     0.020530
min         900.000000  1999.000000     1.000000     0.000000    -0.137230
25%        3767.287500  2004.000000     3.000000     0.004267    -0.009189
50%       10037.625000  2009.000000     6.000000     0.009771    -0.000026
75%       16576.687500  2014.000000     9.000000     0.018512     0.010435
max       28857.000000  2019.000000    12.000000     0.137230     0.103594
==================================================Data information of DRREDDY==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 32349 to 37410
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of DRREDDY==================================================
DRREDDY:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       5600.113661  2008.628803     6.450415     0.014831     0.000875
std        4436.867342     5.871130     3.450988     0.016149     0.021910
min         505.650000  1999.000000     1.000000     0.000000    -0.179755
25%        1822.075000  2004.000000     3.000000     0.004306    -0.009375
50%        3041.000000  2009.000000     6.000000     0.009984     0.000523
75%        9496.950000  2014.000000     9.000000     0.019529     0.010818
max       17861.900000  2019.000000    12.000000     0.179755     0.170996
==================================================Data information of GRASIM==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 37412 to 42473
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of GRASIM==================================================
GRASIM:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       2427.701580  2008.628803     6.450415     0.015377     0.000909
std        1691.006684     5.871130     3.450988     0.016606     0.022615
min         109.250000  1999.000000     1.000000     0.000000    -0.193356
25%        1003.750000  2004.000000     3.000000     0.004521    -0.009959
50%        2509.550000  2009.000000     6.000000     0.010456     0.000122
75%        3598.150000  2014.000000     9.000000     0.020166     0.011072
max        6842.000000  2019.000000    12.000000     0.193356     0.155795
==================================================Data information of HCLTECH==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4802 entries, 42475 to 47276
Data columns (total 8 columns):
Symbol             4802 non-null object
Date               4802 non-null datetime64[ns]
Adj_Close_Price    4802 non-null float64
year               4802 non-null int64
month              4802 non-null int64
yr                 4802 non-null int64
Return             4802 non-null float64
Return1            4802 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 337.6+ KB
None

==================================================Data discription of HCLTECH==================================================
HCLTECH:
        Adj_Close_Price         year        month       Return      Return1
count      4802.000000  4802.000000  4802.000000  4802.000000  4802.000000
mean       3094.776218  2009.148688     6.451062     0.018885     0.000793
std        2963.584542     5.574248     3.449007     0.021097     0.028305
min         220.600000  2000.000000     1.000000     0.000000    -0.188811
25%         828.775000  2004.000000     3.000000     0.005229    -0.011814
50%        1540.600000  2009.000000     6.000000     0.012548     0.000735
75%        6279.200000  2014.000000     9.000000     0.024327     0.013438
max       10121.200000  2019.000000    12.000000     0.188811     0.160015
==================================================Data information of HDFC==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 47278 to 52339
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of HDFC==================================================
HDFC:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean      65557.390982  2008.628803     6.450415     0.015233     0.001139
std       60541.125919     5.871130     3.450988     0.015545     0.021735
min        1900.250000  1999.000000     1.000000     0.000000    -0.125205
25%       11890.250000  2004.000000     3.000000     0.004869    -0.010227
50%       52103.000000  2009.000000     6.000000     0.010816     0.000095
75%       94541.250000  2014.000000     9.000000     0.020480     0.011460
max      222780.000000  2019.000000    12.000000     0.210887     0.210887
==================================================Data information of HDFCBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 52341 to 57402
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of HDFCBANK==================================================
HDFCBANK:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       2720.233475  2008.628803     6.450415     0.013848     0.001275
std        3037.152890     5.871130     3.450988     0.015578     0.020806
min          50.250000  1999.000000     1.000000     0.000000    -0.200192
25%         365.875000  2004.000000     3.000000     0.004012    -0.008544
50%        1491.200000  2009.000000     6.000000     0.009185     0.000309
75%        3705.437500  2014.000000     9.000000     0.017873     0.009933
max       11960.250000  2019.000000    12.000000     0.248410     0.248410
==================================================Data information of HEROMOTOCO==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 57404 to 62465
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of HEROMOTOCO==================================================
HEROMOTOCO:

        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       8674.758979  2008.628803     6.450415     0.013508     0.000876
std        6966.303324     5.871130     3.450988     0.014066     0.019483
min         550.000000  1999.000000     1.000000     0.000000    -0.120486
25%        2579.312500  2004.000000     3.000000     0.004008    -0.008926
50%        5264.625000  2009.000000     6.000000     0.009496     0.000087
75%       13151.312500  2014.000000     9.000000     0.018078     0.009952
max       24184.750000  2019.000000    12.000000     0.191224     0.191224
==================================================Data information of HINDALCO==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 62467 to 67528
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of HINDALCO==================================================
HINDALCO:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       2076.639731  2008.628803     6.450415     0.018005     0.000703
std        1137.125245     5.871130     3.450988     0.017296     0.024958
min         393.000000  1999.000000     1.000000     0.000000    -0.150062
25%        1004.206341  2004.000000     3.000000     0.005819    -0.012969
50%        2047.422248  2009.000000     6.000000     0.013250     0.000196
75%        2752.525240  2014.000000     9.000000     0.024914     0.013486
max        5135.924229  2019.000000    12.000000     0.207262     0.207262
==================================================Data information of HINDUNILVR==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 67530 to 72591
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of HINDUNILVR==================================================
HINDUNILVR:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       5255.762070  2008.628803     6.450415     0.012062     0.000632
std        4547.238387     5.871130     3.450988     0.012311     0.017225
min        1294.100000  1999.000000     1.000000     0.000000    -0.131538
25%        2200.625000  2004.000000     3.000000     0.003705    -0.008382
50%        2939.600000  2009.000000     6.000000     0.008749     0.000132
75%        7025.350000  2014.000000     9.000000     0.016251     0.009040
max       20428.100000  2019.000000    12.000000     0.148130     0.148130
==================================================Data information of ICICIBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 72593 to 77654
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of ICICIBANK==================================================
ICICIBANK:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean        879.070012  2008.628803     6.450415     0.018599     0.001286
std         614.580928     5.871130     3.450988     0.019452     0.026883
min          21.350000  1999.000000     1.000000     0.000000    -0.176407
25%         270.075000  2004.000000     3.000000     0.005717    -0.012333
50%         918.400000  2009.000000     6.000000     0.012817     0.000000
75%        1292.212500  2014.000000     9.000000     0.024299     0.013308
max        2445.450000  2019.000000    12.000000     0.209593     0.209593
==================================================Data information of INFY==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 77656 to 82717
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of INFY==================================================
INFY:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean      78458.083534  2008.628803     6.450415     0.015831     0.001138
std       55698.956419     5.871130     3.450988     0.018060     0.023991
min        2982.000000  1999.000000     1.000000     0.000000    -0.262776
25%       28504.975000  2004.000000     3.000000     0.004646    -0.009528
50%       67630.800000  2009.000000     6.000000     0.010474     0.000560
75%      116876.000000  2014.000000     9.000000     0.019979     0.011168
max      225466.000000  2019.000000    12.000000     0.262776     0.159868
==================================================Data information of ITC==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 82719 to 87780
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of ITC==================================================
ITC:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       5673.996385  2008.628803     6.450415     0.013245     0.000778
std        4926.377952     5.871130     3.450988     0.013700     0.019041
min         513.600000  1999.000000     1.000000     0.000000    -0.111895
25%        1043.887500  2004.000000     3.000000     0.004076    -0.008529
50%        3195.625000  2009.000000     6.000000     0.009174     0.000300
75%       10721.500000  2014.000000     9.000000     0.017800     0.009730
max       17108.500000  2019.000000    12.000000     0.111895     0.106590
==================================================Data information of JSWSTEEL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3496 entries, 87782 to 91277
Data columns (total 8 columns):
Symbol             3496 non-null object
Date               3496 non-null datetime64[ns]
Adj_Close_Price    3496 non-null float64
year               3496 non-null int64
month              3496 non-null int64
yr                 3496 non-null int64
Return             3496 non-null float64
Return1            3496 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 245.8+ KB
None

==================================================Data discription of JSWSTEEL==================================================
JSWSTEEL:
        Adj_Close_Price         year        month       Return      Return1
count      3496.000000  3496.000000  3496.000000  3496.000000  3496.000000
mean       1178.897640  2011.763158     6.491705     0.019518     0.000972
std         853.768871     4.085912     3.435811     0.019767     0.027764
min         189.600000  2005.000000     1.000000     0.000000    -0.140828
25%         664.037500  2008.000000     4.000000     0.006358    -0.013540
50%         966.675000  2012.000000     6.000000     0.014115     0.000321
75%        1317.075000  2015.000000     9.000000     0.025893     0.014590
max        4296.250000  2019.000000    12.000000     0.287625     0.287625
==================================================Data information of KOTAKBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4741 entries, 91279 to 96019
Data columns (total 8 columns):
Symbol             4741 non-null object
Date               4741 non-null datetime64[ns]
Adj_Close_Price    4741 non-null float64
year               4741 non-null int64
month              4741 non-null int64
yr                 4741 non-null int64
Return             4741 non-null float64
Return1            4741 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 333.4+ KB
None

==================================================Data discription of KOTAKBANK==================================================
KOTAKBANK:
        Adj_Close_Price         year        month       Return      Return1
count      4741.000000  4741.000000  4741.000000  4741.000000  4741.000000
mean       7249.044176  2009.186669     6.471630     0.019881     0.002078
std        8198.237719     5.646211     3.468588     0.024547     0.031521
min          14.500000  1999.000000     1.000000     0.000000    -0.611246
25%         616.155761  2004.000000     3.000000     0.005296    -0.011762
50%        4405.581447  2009.000000     7.000000     0.012669     0.000616
75%       10408.752239  2014.000000     9.000000     0.025415     0.013821
max       31925.078537  2019.000000    12.000000     0.611246     0.250000
==================================================Data information of NTPC==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3590 entries, 96021 to 99610
Data columns (total 8 columns):
Symbol             3590 non-null object
Date               3590 non-null datetime64[ns]
Adj_Close_Price    3590 non-null float64
year               3590 non-null int64
month              3590 non-null int64
yr                 3590 non-null int64
Return             3590 non-null float64
Return1            3590 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 252.4+ KB
None

==================================================Data discription of NTPC==================================================
NTPC:
        Adj_Close_Price         year        month       Return      Return1
count      3590.000000  3590.000000  3590.000000  3590.000000  3590.000000
mean        183.292649  2011.575487     6.475209     0.011548     0.000435
std          38.212349     4.192134     3.479162     0.012010     0.016657
min          73.550000  2004.000000     1.000000     0.000000    -0.134895
25%         169.050000  2008.000000     3.000000     0.003734    -0.007963
50%         190.100000  2012.000000     6.000000     0.008105     0.000000
75%         209.900000  2015.000000     9.000000     0.015231     0.008225

max         293.050000  2019.000000    12.000000     0.134895     0.123047
==================================================Data information of ONGC==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 99612 to 104673
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of ONGC==================================================
ONGC:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       1516.721948  2008.628803     6.450415     0.014088     0.000699
std         863.724648     5.871130     3.450988     0.015108     0.020646
min         100.400000  1999.000000     1.000000     0.000000    -0.124533
25%         733.337500  2004.000000     3.000000     0.004377    -0.009221
50%        1849.762500  2009.000000     6.000000     0.009583     0.000123
75%        2200.350000  2014.000000     9.000000     0.018382     0.009967
max        3375.900000  2019.000000    12.000000     0.190699     0.190699
==================================================Data information of SBIN==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 104675 to 109736
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of SBIN==================================================
SBIN:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       1740.295365  2008.628803     6.450415     0.016240     0.000877
std        1188.873015     5.871130     3.450988     0.015896     0.022709
min         146.450000  1999.000000     1.000000     0.000000    -0.138053
25%         484.462500  2004.000000     3.000000     0.005290    -0.011478
50%        1916.912005  2009.000000     6.000000     0.012045     0.000349
75%        2821.291408  2014.000000     9.000000     0.021961     0.012565
max        3973.544437  2019.000000    12.000000     0.241645     0.241645
==================================================Data information of SUNPHARMA==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 109738 to 114799
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of SUNPHARMA==================================================
SUNPHARMA:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean      32953.738512  2008.628803     6.450415     0.016257     0.001342
std       34910.048143     5.871130     3.450988     0.017363     0.023749
min         275.900000  1999.000000     1.000000     0.000000    -0.148373
25%        3790.650000  2004.000000     3.000000     0.004803    -0.010362
50%       15915.600000  2009.000000     6.000000     0.010918     0.000194
75%       62980.500000  2014.000000     9.000000     0.021204     0.011619
max      142008.000000  2019.000000    12.000000     0.215076     0.215076
==================================================Data information of TATAMOTORS==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 114801 to 119862
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of TATAMOTORS==================================================
TATAMOTORS:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       1374.073194  2008.628803     6.450415     0.019351     0.000811
std        1148.407865     5.871130     3.450988     0.018252     0.026589
min          58.800000  1999.000000     1.000000     0.000000    -0.152616
25%         333.582299  2004.000000     3.000000     0.006521    -0.013793
50%        1033.843750  2009.000000     6.000000     0.014488     0.000357
75%        2150.945860  2014.000000     9.000000     0.026172     0.015282
max        4280.268406  2019.000000    12.000000     0.283322     0.283322
==================================================Data information of TECHM==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3137 entries, 119864 to 123000
Data columns (total 8 columns):
Symbol             3137 non-null object
Date               3137 non-null datetime64[ns]
Adj_Close_Price    3137 non-null float64
year               3137 non-null int64
month              3137 non-null int64
yr                 3137 non-null int64
Return             3137 non-null float64
Return1            3137 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 220.6+ KB
None

==================================================Data discription of TECHM==================================================
TECHM:
        Adj_Close_Price         year        month       Return      Return1
count      3137.000000  3137.000000  3137.000000  3137.000000  3137.000000
mean       1487.985304  2012.484858     6.509404     0.016571     0.000894
std         810.331370     3.674735     3.482828     0.018686     0.024961
min         220.300000  2006.000000     1.000000     0.000000    -0.145281
25%         752.700000  2009.000000     3.000000     0.005023    -0.011207
50%        1311.150000  2012.000000     7.000000     0.011389     0.000544
75%        2088.100000  2016.000000    10.000000     0.021343     0.011649
max        3520.700000  2019.000000    12.000000     0.251450     0.251450
==================================================Data information of TITAN==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 123002 to 128063
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of TITAN==================================================
TITAN:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       4010.836073  2008.628803     6.450415     0.020177     0.001531
std        5274.035201     5.871130     3.450988     0.021279     0.029286
min          30.100000  1999.000000     1.000000     0.000000    -0.139978
25%         118.125000  2004.000000     3.000000     0.005949    -0.012906
50%        1304.741802  2009.000000     6.000000     0.013437     0.000196
75%        6015.279072  2014.000000     9.000000     0.027142     0.014221
max       24051.210283  2019.000000    12.000000     0.252077     0.252077

==================================================Data information of UPL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3789 entries, 128065 to 131853
Data columns (total 8 columns):
Symbol             3789 non-null object
Date               3789 non-null datetime64[ns]
Adj_Close_Price    3789 non-null float64
year               3789 non-null int64
month              3789 non-null int64
yr                 3789 non-null int64
Return             3789 non-null float64
Return1            3789 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 266.4+ KB
None

==================================================Data discription of UPL==================================================
UPL:
        Adj_Close_Price         year        month       Return      Return1
count      3789.000000  3789.000000  3789.000000  3789.000000  3789.000000
mean       2985.834086  2011.177619     6.453946     0.017776     0.001075
std        2553.990391     4.416701     3.443971     0.017516     0.024934
min         427.600000  2004.000000     1.000000     0.000000    -0.185455
25%        1343.000000  2007.000000     3.000000     0.005869    -0.012869
50%        1648.000000  2011.000000     6.000000     0.013138     0.000637
75%        4538.000000  2015.000000     9.000000     0.024541     0.013389
max       10126.500000  2019.000000    12.000000     0.247853     0.247853
==================================================Data information of VEDL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5061 entries, 131855 to 136915
Data columns (total 8 columns):
Symbol             5061 non-null object
Date               5061 non-null datetime64[ns]
Adj_Close_Price    5061 non-null float64
year               5061 non-null int64
month              5061 non-null int64
yr                 5061 non-null int64
Return             5061 non-null float64
Return1            5061 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of VEDL==================================================
VEDL:
        Adj_Close_Price         year        month       Return      Return1
count      5061.000000  5061.000000  5061.000000  5061.000000  5061.000000
mean       5887.815076  2008.630508     6.449713     0.022080     0.001328
std        5124.922841     5.870457     3.450968     0.021664     0.030906
min          38.100000  1999.000000     1.000000     0.000000    -0.217530
25%         408.050000  2004.000000     3.000000     0.006969    -0.015382
50%        5457.500000  2009.000000     6.000000     0.015676    -0.000439
75%        9817.500000  2014.000000     9.000000     0.029819     0.016003
max       20029.500000  2019.000000    12.000000     0.217530     0.207058
==================================================Data information of WIPRO==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 136917 to 141978
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of WIPRO==================================================
WIPRO:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean      18498.488719  2008.628803     6.450415     0.018052     0.001002
std        9682.836546     5.871130     3.450988     0.020853     0.027564
min        1952.200000  1999.000000     1.000000     0.000000    -0.191766
25%        9190.875000  2004.000000     3.000000     0.005088    -0.011081
50%       17496.000000  2009.000000     6.000000     0.011489     0.000658
75%       27244.875005  2014.000000     9.000000     0.022823     0.011793
max       47938.750000  2019.000000    12.000000     0.232286     0.232286
==================================================Data information of YESBANK==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3418 entries, 141980 to 145397
Data columns (total 8 columns):
Symbol             3418 non-null object
Date               3418 non-null datetime64[ns]
Adj_Close_Price    3418 non-null float64
year               3418 non-null int64
month              3418 non-null int64
yr                 3418 non-null int64
Return             3418 non-null float64
Return1            3418 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 240.3+ KB
None

==================================================Data discription of YESBANK==================================================
YESBANK:
        Adj_Close_Price         year        month       Return      Return1
count      3418.000000  3418.000000  3418.000000  3418.000000  3418.000000
mean        577.827926  2011.917496     6.523113     0.020084     0.001318
std         527.193973     4.000978     3.464468     0.021620     0.029482
min          41.600000  2005.000000     1.000000     0.000000    -0.278797
25%         174.662500  2008.000000     3.000000     0.006263    -0.013138
50%         343.250000  2012.000000     7.000000     0.014050     0.000197
75%         847.087500  2015.000000    10.000000     0.026777     0.015132
max        2036.500000  2019.000000    12.000000     0.283447     0.283447
==================================================Data information of ZEEL==================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5062 entries, 145399 to 150460
Data columns (total 8 columns):
Symbol             5062 non-null object
Date               5062 non-null datetime64[ns]
Adj_Close_Price    5062 non-null float64
year               5062 non-null int64
month              5062 non-null int64
yr                 5062 non-null int64
Return             5062 non-null float64
Return1            5062 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 355.9+ KB
None

==================================================Data discription of ZEEL==================================================
ZEEL:
        Adj_Close_Price         year        month       Return      Return1
count      5062.000000  5062.000000  5062.000000  5062.000000  5062.000000
mean       4312.060273  2008.628803     6.450415     0.021482     0.001006
std        3401.560109     5.871130     3.450988     0.022634     0.031190
min         552.000000  1999.000000     1.000000     0.000000    -0.280900
25%        1586.500000  2004.000000     3.000000     0.006271    -0.014153
50%        2885.000000  2009.000000     6.000000     0.014777     0.000228
75%        6164.250000  2014.000000     9.000000     0.028293     0.015479
max       15417.000000  2019.000000    12.000000     0.280900     0.201408

In [21]:
writer = pd.ExcelWriter('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\discriptive_data_Dec24_2020.xlsx', engine='xlsxwriter')
for name,df in zip(data_name,data_disc):
    df.to_excel(writer, sheet_name='Data dicription '+name)
writer.save()

In [22]:
B_data = copy.copy(data)

In [23]:
#total number of bins
b= [-0.9,0,0.01,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,1,2,3,4,5,6,7,8,9,10]

In [24]:
len(b)

31

In [25]:
l = [i for i in range(1,len(b))] # label
B_data['binned']=pd.cut(x=B_data['Return'], bins=b,labels=l)
#B_data['binned']=pd.cut(x=B_data['Return'], bins=b,labels=l)

In [26]:
B_data.binned.unique()

[4, 3, 2, 6, 5, 7, 1, 8, 15]
Categories (9, int64): [1 < 2 < 3 < 4 ... 6 < 7 < 8 < 15]

In [27]:
B_data.to_csv('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\df_b_data_Dec24_2020.csv',encoding='utf-8')

In [28]:
B_data.head()

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1,binned
1,ADANIPORTS,2007-11-28,893.90,2007,11,2007,0.071659,-0.071659,4
2,ADANIPORTS,2007-11-29,884.20,2007,11,2007,0.010851,-0.010851,3
3,ADANIPORTS,2007-11-30,921.55,2007,11,2007,0.042242,0.042242,3
4,ADANIPORTS,2007-12-03,969.30,2007,12,2007,0.051815,0.051815,4
5,ADANIPORTS,2007-12-04,1041.45,2007,12,2007,0.074435,0.074435,4

In [29]:
# create the bins for return
pivot_n= B_data.pivot_table(index=['Symbol'],values=["Return"],columns=['binned'],aggfunc=lambda x: len(x),
                            margins_name='Count',margins=True)
pivot_n.fillna(0,inplace=True)

In [30]:
# for filter

In [31]:
#B_data.loc[:,'Return'].max()

In [32]:
#idl = B_data[B_data.loc[:,'binned'] ==7].index.values

In [33]:
idl = B_data[B_data.loc[:,'Return']>0.3].index.values

In [34]:
#print(idl)

In [35]:
len(idl)

1

In [36]:
#i=20
#range(i-10,i+10)

In [37]:
arr1=[]
for i in idl:
    x = range(i-2,i+2)
    arr1.extend(x)

In [38]:
#len(idl)*20

In [39]:
len(arr1)

4

In [40]:
B_data.loc[arr1].head(60)

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1,binned
91584,KOTAKBANK,2000-03-16,151.667373,2000,3,2000,0.069300,-0.069300,4
91585,KOTAKBANK,2000-03-21,139.583673,2000,3,2000,0.079672,-0.079672,4
91586,KOTAKBANK,2001-07-02,54.263718,2001,7,2001,0.611246,-0.611246,15
91587,KOTAKBANK,2001-07-03,54.207252,2001,7,2001,0.001041,-0.001041,2

In [41]:
#B_data.filter(items=arr1,axis=0).to_csv('b.csv',index=False)

In [42]:
#B_data.loc[arr1].to_csv('B_data_Analysis.csv',index=True)

In [43]:
#B_data.loc[idl].tail(60)

In [44]:
#B_data.to_csv('B_data.csv',index=False)

In [45]:
# now pivot table information is correct

In [46]:
pivot_n

           Return                                                           \
binned          1        2        3       4      5      6     7     8   15
Symbol
ADANIPORTS   16.0   1090.0   1540.0   162.0   11.0    3.0   2.0   0.0  0.0
ASIANPAINT   28.0   2873.0   2069.0    89.0    3.0    0.0   0.0   0.0  0.0
AXISBANK     63.0   1995.0   2658.0   319.0   17.0    7.0   2.0   1.0  0.0
BAJFINANCE   90.0   2131.0   2479.0   258.0   28.0    8.0   0.0   0.0  0.0
BHARTIARTL   25.0   1775.0   2273.0   192.0    8.0    2.0   0.0   1.0  0.0
BRITANNIA    19.0   2882.0   2062.0    94.0    4.0    0.0   0.0   0.0  0.0
CIPLA        22.0   2556.0   2318.0   158.0    8.0    0.0   0.0   0.0  0.0
DRREDDY       9.0   2523.0   2322.0   194.0   12.0    2.0   0.0   0.0  0.0
GRASIM        5.0   2443.0   2401.0   197.0   13.0    3.0   0.0   0.0  0.0
HCLTECH       6.0   2017.0   2428.0   300.0   34.0   17.0   0.0   0.0  0.0
HDFC         13.0   2347.0   2506.0   185.0    8.0    2.0   1.0   0.0  0.0
HDFCBANK     36.0   2647.0   2188.0   181.0    7.0    1.0   2.0   0.0  0.0
HEROMOTOCO   10.0   2622.0   2297.0   125.0    4.0    4.0   0.0   0.0  0.0
HINDALCO     28.0   2027.0   2729.0   262.0   13.0    2.0   1.0   0.0  0.0
HINDUNILVR   36.0   2754.0   2188.0    79.0    5.0    0.0   0.0   0.0  0.0
ICICIBANK    33.0   2025.0   2644.0   329.0   25.0    5.0   1.0   0.0  0.0
INFY          4.0   2438.0   2363.0   233.0   18.0    5.0   0.0   1.0  0.0
ITC          22.0   2668.0   2241.0   126.0    5.0    0.0   0.0   0.0  0.0
JSWSTEEL      8.0   1301.0   1956.0   203.0   24.0    3.0   0.0   1.0  0.0
KOTAKBANK    41.0   1961.0   2334.0   356.0   29.0   16.0   3.0   0.0  1.0
NTPC         44.0   2023.0   1470.0    51.0    2.0    0.0   0.0   0.0  0.0
ONGC         22.0   2594.0   2273.0   163.0    8.0    2.0   0.0   0.0  0.0
SBIN         16.0   2179.0   2674.0   186.0    5.0    1.0   1.0   0.0  0.0
SUNPHARMA    19.0   2333.0   2455.0   238.0   16.0    0.0   1.0   0.0  0.0
TATAMOTORS   18.0   1853.0   2875.0   297.0   16.0    2.0   0.0   1.0  0.0
TECHM         3.0   1405.0   1582.0   122.0   22.0    2.0   0.0   1.0  0.0
TITAN        30.0   1990.0   2608.0   388.0   35.0   10.0   0.0   1.0  0.0
UPL          15.0   1529.0   2068.0   162.0   10.0    4.0   1.0   0.0  0.0
VEDL         26.0   1752.0   2784.0   456.0   38.0    3.0   2.0   0.0  0.0
WIPRO        13.0   2267.0   2412.0   326.0   34.0    9.0   1.0   0.0  0.0
YESBANK      15.0   1283.0   1873.0   217.0   22.0    1.0   4.0   3.0  0.0
ZEEL         23.0   1837.0   2713.0   438.0   33.0   15.0   1.0   2.0  0.0
Count       758.0  68120.0  73783.0  7086.0  517.0  129.0  23.0  12.0  1.0


binned         Count
Symbol
ADANIPORTS    2824.0
ASIANPAINT    5062.0
AXISBANK      5062.0
BAJFINANCE    4994.0
BHARTIARTL    4276.0
BRITANNIA     5061.0
CIPLA         5062.0
DRREDDY       5062.0
GRASIM        5062.0
HCLTECH       4802.0
HDFC          5062.0
HDFCBANK      5062.0
HEROMOTOCO    5062.0
HINDALCO      5062.0
HINDUNILVR    5062.0
ICICIBANK     5062.0
INFY          5062.0
ITC           5062.0
JSWSTEEL      3496.0
KOTAKBANK     4741.0
NTPC          3590.0
ONGC          5062.0
SBIN          5062.0
SUNPHARMA     5062.0
TATAMOTORS    5062.0
TECHM         3137.0
TITAN         5062.0
UPL           3789.0
VEDL          5061.0
WIPRO         5062.0
YESBANK       3418.0
ZEEL          5062.0
Count       150429.0

In [47]:
B_data.groupby('Symbol').count()

            Date  Adj_Close_Price  year  month    yr  Return  Return1  binned
Symbol
ADANIPORTS  2824             2824  2824   2824  2824    2824     2824    2824
ASIANPAINT  5062             5062  5062   5062  5062    5062     5062    5062
AXISBANK    5062             5062  5062   5062  5062    5062     5062    5062
BAJFINANCE  4994             4994  4994   4994  4994    4994     4994    4994
BHARTIARTL  4276             4276  4276   4276  4276    4276     4276    4276
BRITANNIA   5061             5061  5061   5061  5061    5061     5061    5061
CIPLA       5062             5062  5062   5062  5062    5062     5062    5062
DRREDDY     5062             5062  5062   5062  5062    5062     5062    5062
GRASIM      5062             5062  5062   5062  5062    5062     5062    5062
HCLTECH     4802             4802  4802   4802  4802    4802     4802    4802
HDFC        5062             5062  5062   5062  5062    5062     5062    5062
HDFCBANK    5062             5062  5062   5062  5062    5062     5062    5062
HEROMOTOCO  5062             5062  5062   5062  5062    5062     5062    5062
HINDALCO    5062             5062  5062   5062  5062    5062     5062    5062
HINDUNILVR  5062             5062  5062   5062  5062    5062     5062    5062
ICICIBANK   5062             5062  5062   5062  5062    5062     5062    5062
INFY        5062             5062  5062   5062  5062    5062     5062    5062
ITC         5062             5062  5062   5062  5062    5062     5062    5062
JSWSTEEL    3496             3496  3496   3496  3496    3496     3496    3496
KOTAKBANK   4741             4741  4741   4741  4741    4741     4741    4741
NTPC        3590             3590  3590   3590  3590    3590     3590    3590
ONGC        5062             5062  5062   5062  5062    5062     5062    5062
SBIN        5062             5062  5062   5062  5062    5062     5062    5062
SUNPHARMA   5062             5062  5062   5062  5062    5062     5062    5062
TATAMOTORS  5062             5062  5062   5062  5062    5062     5062    5062
TECHM       3137             3137  3137   3137  3137    3137     3137    3137
TITAN       5062             5062  5062   5062  5062    5062     5062    5062
UPL         3789             3789  3789   3789  3789    3789     3789    3789
VEDL        5061             5061  5061   5061  5061    5061     5061    5061
WIPRO       5062             5062  5062   5062  5062    5062     5062    5062
YESBANK     3418             3418  3418   3418  3418    3418     3418    3418
ZEEL        5062             5062  5062   5062  5062    5062     5062    5062

In [48]:
B_data.groupby('Symbol').count().binned.sum()

150429

In [ ]:
# my pivot count is correct

In [49]:
writer = pd.ExcelWriter('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\dayWise_oneSide_Pivot_table_Dec24_2020.xlsx',
                        engine='xlsxwriter')
B_data.to_excel(writer, sheet_name='All_stock_return_binned4')
pivot_n.to_excel(writer, sheet_name='All_Stock_Pivot_table4')  
writer.save()

In [50]:
# z_score should be by each comapny

In [51]:
len(Company_name)

32

In [52]:
# Z_score of each comapny
# create the bins for Z-Score
dict_company = {} # 
#data_frame_list = []
new_df = pd.DataFrame()
from scipy import stats
for row in Company_name:
    B_data1 = B_data.loc[B_data['Symbol']==row]
    B_data1['Return_Zscore'] = stats.zscore(B_data1['Return1'])
    #B_data1['Return_Zscore'] =return_zscore # B_data1 contain Z_score of each comapny
    new_df=new_df.append(B_data1)
    #dict_company[row] = (return_zscore.min(), return_zscore.max())

C:\python\Anaconda3\envs\intelPython\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [53]:
new_df.head()

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1,binned,Return_Zscore
1,ADANIPORTS,2007-11-28,893.90,2007,11,2007,0.071659,-0.071659,4,-2.695978
2,ADANIPORTS,2007-11-29,884.20,2007,11,2007,0.010851,-0.010851,3,-0.427833
3,ADANIPORTS,2007-11-30,921.55,2007,11,2007,0.042242,0.042242,3,1.552564
4,ADANIPORTS,2007-12-03,969.30,2007,12,2007,0.051815,0.051815,4,1.909653
5,ADANIPORTS,2007-12-04,1041.45,2007,12,2007,0.074435,0.074435,4,2.753403

In [54]:
new_df['Return_Zscore'].max(),new_df['Return_Zscore'].min()

(11.879486863000453, -19.4599709161054)

In [55]:
new_df['binned'].unique()

[4, 3, 2, 6, 5, 7, 1, 8, 15]
Categories (9, int64): [1 < 2 < 3 < 4 ... 6 < 7 < 8 < 15]

In [56]:
# let's create the bins for the Z_score
B= [-35,-30,-25,-20,-15,-10,-5,0,5,10,15,20,25,30,35,40,45,50,55,60,65,70] # bins
L = [i for i in range(1,len(B))] # label

In [57]:
len(B), len(L)

(22, 21)

In [58]:
new_df['binned_Zscore']= pd.cut(x=new_df['Return_Zscore'], bins=B,labels=L)

In [59]:
new_df.head()

,Symbol,Date,Adj_Close_Price,year,month,yr,Return,Return1,binned,Return_Zscore,binned_Zscore
1,ADANIPORTS,2007-11-28,893.90,2007,11,2007,0.071659,-0.071659,4,-2.695978,7
2,ADANIPORTS,2007-11-29,884.20,2007,11,2007,0.010851,-0.010851,3,-0.427833,7
3,ADANIPORTS,2007-11-30,921.55,2007,11,2007,0.042242,0.042242,3,1.552564,8
4,ADANIPORTS,2007-12-03,969.30,2007,12,2007,0.051815,0.051815,4,1.909653,8
5,ADANIPORTS,2007-12-04,1041.45,2007,12,2007,0.074435,0.074435,4,2.753403,8

In [60]:
pivot_z= new_df.pivot_table(index=['Symbol'],values=['Return_Zscore'],columns=['binned_Zscore'],
                            aggfunc=lambda x: len(x), margins_name='Count',margins=True)

In [61]:
pivot_z.fillna(0,inplace=True)

In [62]:
pivot_z

              Return_Zscore                                            \
binned_Zscore             4    5      6        7        8      9   10
Symbol
ADANIPORTS              0.0  0.0    1.0   1469.0   1349.0    5.0  0.0
ASIANPAINT              0.0  0.0    2.0   2731.0   2324.0    5.0  0.0
AXISBANK                0.0  0.0    3.0   2704.0   2345.0   10.0  0.0
BAJFINANCE              0.0  0.0    2.0   2692.0   2286.0   14.0  0.0
BHARTIARTL              0.0  0.0    1.0   2262.0   2008.0    4.0  1.0
BRITANNIA               0.0  0.0    0.0   2744.0   2311.0    6.0  0.0
CIPLA                   0.0  0.0    6.0   2672.0   2383.0    1.0  0.0
DRREDDY                 0.0  0.0    5.0   2587.0   2467.0    3.0  0.0
GRASIM                  0.0  0.0    5.0   2637.0   2412.0    8.0  0.0
HCLTECH                 0.0  0.0   11.0   2395.0   2389.0    7.0  0.0
HDFC                    0.0  0.0    2.0   2691.0   2364.0    5.0  0.0
HDFCBANK                0.0  0.0    3.0   2687.0   2367.0    4.0  1.0
HEROMOTOCO              0.0  0.0    1.0   2656.0   2397.0    8.0  0.0
HINDALCO                0.0  0.0    3.0   2588.0   2468.0    3.0  0.0
HINDUNILVR              0.0  0.0    2.0   2632.0   2424.0    4.0  0.0
ICICIBANK               0.0  0.0    4.0   2678.0   2374.0    6.0  0.0
INFY                    0.0  1.0    5.0   2611.0   2439.0    6.0  0.0
ITC                     0.0  0.0    3.0   2598.0   2458.0    3.0  0.0
JSWSTEEL                0.0  0.0    1.0   1793.0   1698.0    3.0  1.0
KOTAKBANK               1.0  0.0    2.0   2542.0   2182.0   14.0  0.0
NTPC                    0.0  0.0    4.0   1825.0   1757.0    4.0  0.0
ONGC                    0.0  0.0    4.0   2605.0   2447.0    6.0  0.0
SBIN                    0.0  0.0    3.0   2606.0   2451.0    1.0  1.0
SUNPHARMA               0.0  0.0    3.0   2668.0   2390.0    1.0  0.0
TATAMOTORS              0.0  0.0    2.0   2571.0   2487.0    1.0  1.0
TECHM                   0.0  0.0    4.0   1598.0   1529.0    5.0  1.0
TITAN                   0.0  0.0    0.0   2685.0   2366.0   11.0  0.0
UPL                     0.0  0.0    1.0   1939.0   1841.0    8.0  0.0
VEDL                    0.0  0.0    1.0   2696.0   2361.0    3.0  0.0
WIPRO                   0.0  0.0    5.0   2592.0   2458.0    7.0  0.0
YESBANK                 0.0  0.0    3.0   1789.0   1620.0    6.0  0.0
ZEEL                    0.0  0.0   10.0   2606.0   2441.0    5.0  0.0
Count                   1.0  1.0  102.0  78549.0  71593.0  177.0  6.0


binned_Zscore     Count
Symbol
ADANIPORTS       2824.0
ASIANPAINT       5062.0
AXISBANK         5062.0
BAJFINANCE       4994.0
BHARTIARTL       4276.0
BRITANNIA        5061.0
CIPLA            5062.0
DRREDDY          5062.0
GRASIM           5062.0
HCLTECH          4802.0
HDFC             5062.0
HDFCBANK         5062.0
HEROMOTOCO       5062.0
HINDALCO         5062.0
HINDUNILVR       5062.0
ICICIBANK        5062.0
INFY             5062.0
ITC              5062.0
JSWSTEEL         3496.0
KOTAKBANK        4741.0
NTPC             3590.0
ONGC             5062.0
SBIN             5062.0
SUNPHARMA        5062.0
TATAMOTORS       5062.0
TECHM            3137.0
TITAN            5062.0
UPL              3789.0
VEDL             5061.0
WIPRO            5062.0
YESBANK          3418.0
ZEEL             5062.0
Count          150429.0

In [63]:
# sum of each company return_zscore count
#pivot_z.columns = [col[1] for col in pivot_z.columns]
#pivot_z['Total'] = pivot_z[list(pivot_z)].sum(axis=1)

In [64]:
# Z_score pivot table is also correct

In [65]:
# Number of count should be same as in pivot table
new_df.groupby('Symbol').count()

,Date,Adj_Close_Price,year,month,yr,Return,Return1,binned,Return_Zscore,binned_Zscore
Symbol,,,,,,,,,,
ADANIPORTS,2824,2824,2824,2824,2824,2824,2824,2824,2824,2824
ASIANPAINT,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
AXISBANK,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
BAJFINANCE,4994,4994,4994,4994,4994,4994,4994,4994,4994,4994
BHARTIARTL,4276,4276,4276,4276,4276,4276,4276,4276,4276,4276
BRITANNIA,5061,5061,5061,5061,5061,5061,5061,5061,5061,5061
CIPLA,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
DRREDDY,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
GRASIM,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
HCLTECH,4802,4802,4802,4802,4802,4802,4802,4802,4802,4802
HDFC,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
HDFCBANK,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
HEROMOTOCO,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
HINDALCO,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
HINDUNILVR,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
ICICIBANK,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
INFY,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
ITC,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
JSWSTEEL,3496,3496,3496,3496,3496,3496,3496,3496,3496,3496
KOTAKBANK,4741,4741,4741,4741,4741,4741,4741,4741,4741,4741
NTPC,3590,3590,3590,3590,3590,3590,3590,3590,3590,3590
ONGC,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
SBIN,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
SUNPHARMA,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
TATAMOTORS,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
TECHM,3137,3137,3137,3137,3137,3137,3137,3137,3137,3137
TITAN,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
UPL,3789,3789,3789,3789,3789,3789,3789,3789,3789,3789
VEDL,5061,5061,5061,5061,5061,5061,5061,5061,5061,5061
WIPRO,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062
YESBANK,3418,3418,3418,3418,3418,3418,3418,3418,3418,3418
ZEEL,5062,5062,5062,5062,5062,5062,5062,5062,5062,5062

In [66]:
# Z_score pivot table is also correct
new_df.groupby('Symbol').count().binned_Zscore.sum()

150429

In [67]:
pivot_z.shape

(33, 8)

In [68]:
# lets save in the excel format
writer1 = pd.ExcelWriter('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\pivot_n_Z_Dec24_2020.xlsx', engine='xlsxwriter')
pivot_n.to_excel(writer1, sheet_name='pivot_for_return4')
pivot_z.to_excel(writer1, sheet_name='pivot_for_Zscore4')
new_df.to_excel(writer1, sheet_name='Zscore_with_binned4')
writer1.save()

In [69]:
#now create the pivot table for each of the comapny
Compnay_name=[]
r_large_pivot = []
z_large_pivot =[]
for row in Company_name:
    data_as1 = new_df[new_df['Symbol']==row]
    #print('='*40+' nlarge of Each company ' + str(row)+'='*40)
    
    B_data2=data_as1.nlargest(15, "Return")
    
    pivot_Z_large = B_data2.pivot_table(index=['Symbol'],values=['Return_Zscore'],columns=['binned_Zscore'],
                                        aggfunc=lambda x: len(x),margins_name='Count',margins=True)
    
    #pivot_Z_large.columns = [col[1] for col in pivot_Z_large.columns]
    #pivot_Z_large['Total'] = pivot_Z_large[list(pivot_Z_large)].sum(axis=1)
    
    print('pivot table for Z_score n-large :\n',pivot_Z_large)
    print('-'*100, '\n')
    
    pivot_n_large= B_data2.pivot_table(index=['Symbol'],values=['Return'],columns=['binned'],aggfunc=lambda x: len(x),
                                      margins_name='Count',margins=True)
    
    
    #pivot_n_large.columns = [col[1] for col in pivot_n_large.columns]
   # pivot_n_large['Total_n'] = pivot_n_large[list(pivot_n_large)].sum(axis=1)
    print('pivot table for n-large abs Return :\n',pivot_n_large)
    print('='*100, '\n')
    Compnay_name.append(row)
    z_large_pivot.append(pivot_Z_large)  
    r_large_pivot.append(pivot_n_large)

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
ADANIPORTS              1.0  5.0  4.0  5.0  15.0
Count                   1.0  5.0  4.0  5.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          5    6    7 Count
Symbol
ADANIPORTS   10.0  3.0  2.0  15.0
Count        10.0  3.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
ASIANPAINT              2.0  2.0  6.0  5.0  15.0
Count                   2.0  2.0  6.0  5.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          4    5 Count
Symbol
ASIANPAINT   12.0  3.0  15.0
Count        12.0  3.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8     9 Count
Symbol
AXISBANK                3.0  1.0  1.0  10.0  15.0
Count                   3.0  1.0  1.0  10.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
          Return
binned        5    6    7    8 Count
Symbol
AXISBANK    5.0  7.0  2.0  1.0  15.0
Count       5.0  7.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6     9 Count
Symbol
BAJFINANCE              2.0  13.0  15.0
Count                   2.0  13.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          5    6 Count
Symbol
BAJFINANCE    7.0  8.0  15.0
Count         7.0  8.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
BHARTIARTL              1.0  2.0  7.0  4.0  1.0  15.0
Count                   1.0  2.0  7.0  4.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          4    5    6    8 Count
Symbol
BHARTIARTL    4.0  8.0  2.0  1.0  15.0
Count         4.0  8.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             7    8    9 Count
Symbol
BRITANNIA               1.0  8.0  6.0  15.0
Count                   1.0  8.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
           Return
binned         4    5 Count
Symbol
BRITANNIA   11.0  4.0  15.0
Count       11.0  4.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
CIPLA                   6.0  2.0  6.0  1.0  15.0
Count                   6.0  2.0  6.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5 Count
Symbol
CIPLA     7.0  8.0  15.0
Count     7.0  8.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
DRREDDY                 5.0  3.0  4.0  3.0  15.0
Count                   5.0  3.0  4.0  3.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
         Return
binned       4     5    6 Count
Symbol
DRREDDY    1.0  12.0  2.0  15.0
Count      1.0  12.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    9 Count
Symbol
GRASIM                  5.0  2.0  8.0  15.0
Count                   5.0  2.0  8.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6 Count
Symbol
GRASIM   12.0  3.0  15.0
Count    12.0  3.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    9 Count
Symbol
HCLTECH                 9.0  6.0  15.0
Count                   9.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
         Return
binned       6 Count
Symbol
HCLTECH   15.0  15.0
Count     15.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
HDFC                    2.0  2.0  6.0  5.0  15.0
Count                   2.0  2.0  6.0  5.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5    6    7 Count
Symbol
HDFC      4.0  8.0  2.0  1.0  15.0
Count     4.0  8.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
HDFCBANK                3.0  1.0  6.0  4.0  1.0  15.0
Count                   3.0  1.0  6.0  4.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
          Return
binned        4    5    6    7 Count
Symbol
HDFCBANK    5.0  7.0  1.0  2.0  15.0
Count       5.0  7.0  1.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
HEROMOTOCO              1.0  2.0  4.0  8.0  15.0
Count                   1.0  2.0  4.0  8.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          4    5    6 Count
Symbol
HEROMOTOCO    7.0  4.0  4.0  15.0
Count         7.0  4.0  4.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
HINDALCO                3.0  3.0  6.0  3.0  15.0
Count                   3.0  3.0  6.0  3.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
          Return
binned        5    6    7 Count
Symbol
HINDALCO   12.0  2.0  1.0  15.0
Count      12.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    8    9 Count
Symbol
HINDUNILVR              2.0  9.0  4.0  15.0
Count                   2.0  9.0  4.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
            Return
binned          4    5 Count
Symbol
HINDUNILVR   10.0  5.0  15.0
Count        10.0  5.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
ICICIBANK               4.0  2.0  3.0  6.0  15.0
Count                   4.0  2.0  3.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
           Return
binned         5    6    7 Count
Symbol
ICICIBANK    9.0  5.0  1.0  15.0
Count        9.0  5.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             5    6    7    8    9 Count
Symbol
INFY                    1.0  5.0  2.0  1.0  6.0  15.0
Count                   1.0  5.0  2.0  1.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6    8 Count
Symbol
INFY      9.0  5.0  1.0  15.0
Count     9.0  5.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
ITC                     3.0  2.0  7.0  3.0  15.0
Count                   3.0  2.0  7.0  3.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5 Count
Symbol
ITC      10.0  5.0  15.0
Count    10.0  5.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
JSWSTEEL                1.0  5.0  5.0  3.0  1.0  15.0
Count                   1.0  5.0  5.0  3.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
          Return
binned        5    6    8 Count
Symbol
JSWSTEEL   11.0  3.0  1.0  15.0
Count      11.0  3.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             4    6     9 Count
Symbol
KOTAKBANK               1.0  2.0  12.0  15.0
Count                   1.0  2.0  12.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
           Return
binned         6    7   15 Count
Symbol
KOTAKBANK   11.0  3.0  1.0  15.0
Count       11.0  3.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
NTPC                    4.0  3.0  4.0  4.0  15.0
Count                   4.0  3.0  4.0  4.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5 Count
Symbol
NTPC     13.0  2.0  15.0
Count    13.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
ONGC                    4.0  2.0  3.0  6.0  15.0
Count                   4.0  2.0  3.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5    6 Count
Symbol
ONGC      5.0  8.0  2.0  15.0
Count     5.0  8.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
SBIN                    3.0  2.0  8.0  1.0  1.0  15.0
Count                   3.0  2.0  8.0  1.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      4    5    6    7 Count
Symbol
SBIN      8.0  5.0  1.0  1.0  15.0
Count     8.0  5.0  1.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
SUNPHARMA               3.0  4.0  7.0  1.0  15.0
Count                   3.0  4.0  7.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
           Return
binned         5    7 Count
Symbol
SUNPHARMA   14.0  1.0  15.0
Count       14.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
TATAMOTORS              2.0  6.0  5.0  1.0  1.0  15.0
Count                   2.0  6.0  5.0  1.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :

            Return
binned          5    6    8 Count
Symbol
TATAMOTORS   12.0  2.0  1.0  15.0
Count        12.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9   10 Count
Symbol
TECHM                   4.0  1.0  4.0  5.0  1.0  15.0
Count                   4.0  1.0  4.0  5.0  1.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6    8 Count
Symbol
TECHM    12.0  2.0  1.0  15.0
Count    12.0  2.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             7    8     9 Count
Symbol
TITAN                   1.0  3.0  11.0  15.0
Count                   1.0  3.0  11.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5     6    8 Count
Symbol
TITAN     4.0  10.0  1.0  15.0
Count     4.0  10.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
UPL                     1.0  3.0  3.0  8.0  15.0
Count                   1.0  3.0  3.0  8.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6    7 Count
Symbol
UPL      10.0  4.0  1.0  15.0
Count    10.0  4.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6     8    9 Count
Symbol
VEDL                    1.0  11.0  3.0  15.0
Count                   1.0  11.0  3.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6    7 Count
Symbol
VEDL     10.0  3.0  2.0  15.0
Count    10.0  3.0  2.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
WIPRO                   5.0  1.0  2.0  7.0  15.0
Count                   5.0  1.0  2.0  7.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      5    6    7 Count
Symbol
WIPRO     5.0  9.0  1.0  15.0
Count     5.0  9.0  1.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    7    8    9 Count
Symbol
YESBANK                 3.0  3.0  3.0  6.0  15.0
Count                   3.0  3.0  3.0  6.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
         Return
binned       5    6    7    8 Count
Symbol
YESBANK    7.0  1.0  4.0  3.0  15.0
Count      7.0  1.0  4.0  3.0  15.0
====================================================================================================

pivot table for Z_score n-large :
               Return_Zscore
binned_Zscore             6    9 Count
Symbol
ZEEL                   10.0  5.0  15.0
Count                  10.0  5.0  15.0
----------------------------------------------------------------------------------------------------

pivot table for n-large abs Return :
        Return
binned      6    7    8 Count
Symbol
ZEEL     12.0  1.0  2.0  15.0
Count    12.0  1.0  2.0  15.0
====================================================================================================

In [70]:
writer3 = pd.ExcelWriter('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\n_large_of each_comapy_Dec24_2020.xlsx', engine='xlsxwriter')
writer4 = pd.ExcelWriter('G:\\Best_risk_reward\\Dec2020\\Date-24-12-2020\\Data\\n_large_zscore_each_company_Dec24_2020.xlsx', engine='xlsxwriter')

for name,df1,df2 in zip(Compnay_name,r_large_pivot,z_large_pivot):
    
    df1.to_excel(writer3, sheet_name='pivot of n large '+ str(name))
    df2.to_excel(writer4, sheet_name='pivotof_n_Zscore '+ str(name))

writer3.save()
writer4.close()